<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
    <h1>Predicting Employee Attrition</h1>
    <form action="{{ url_for("predict")}}"method="post">
        <input type="text" name="satisfaction_level" placeholder="satisfaction_level" required="required" />
        <input type="text" name="last_evaluation" step="0.001" placeholder="last_evaluation" required="required" />
        <input type="text" name="number_project" placeholder="number_project" required="required" />
        <input type="text" name="average_monthly_hours" placeholder="average_monthly_hours" required="required" />
        <input type="text" name="time_spend_company" placeholder="time_spend_company" required="required" />
        <input type="text" name="Work_accident" placeholder="Work_accident" required="required" />
        <input type="text" name="promotion_last_5years" placeholder="promotion_last_5years" required="required" />
        <input type="text" name="sales" placeholder="sales" required="required" />
        <input type="text" name="salary" placeholder="salary" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button> 

    </form>
   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>